.app {
  display: grid;
  background-color: rgb(199, 177, 177);
  place-items: center;
  height: 100vh;
}

.app_body {
  display: flex;
  background-color: aliceblue;
  height: 90vh;
  width: 90vh;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7)
}