.chat {
    flex: 0.65;
    flex-direction: column;
    display: flex;
}

.chat__header {
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3 {
    font-weight: 500;
    margin-bottom: 3px;
}

.chat__headerInfo > p {
   color: gray;
}

.chat__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat__body {
    flex: 1;
    background-position: center;
    background-repeat: repeat;
    padding: 30px;
    overflow: scroll;
    overflow: hidden;
    background-color: #e7e7e7;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 30px;
}

.chat__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.chat__reciever {
    margin-left: auto;
    background-color: #CCEDFB;
}

.chat__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat__footer > form {
    display: flex;
    flex: 1;
}

.chat__footer > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}

.chat__footer > form > button {
    display: none;
}

.chat__footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}