a {
    text-decoration: none !important;
    color: black;
}

.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid whitesmoke;
}

.sidebarChat:hover {
    background-color: whitesmoke; 
}

.sidebarChat__info > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarChat__info {
    margin-left: 15px;
}

