.multistep--form {
  min-height: 100vh;
  display: flex;
  padding: 1em 2em;
}

.form__image {
  display: block;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form--container {
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.form__title {
  color: #000;
}

.form-row {
  margin-bottom: 24px;
}
.form-row label {
  margin-bottom: 8px;
  display: block;
}
.form-row.form-group {
  display: flex;
}
.form-row.form-group .form-holder {
  width: 50%;
  margin-right: 21px;
}
.form-row.form-group .form-holder:last-child {
  margin-right: 0;
}

.form-holder {
  position: relative;
}
.form-holder i {
  position: absolute;
  top: 11px;
  right: 19px;
  font-size: 17px;
  color: #999;
}

.form-control {
  height: 42px;
  border: 1px solid #e6e6e6;
  /* background: none; */
  width: 100%;
  padding: 0 18px;
}

.form-control:focus {
  border-color: #f3d4b7;
}
.form-control::-webkit-input-placeholder {
  color: #999;
  font-size: 13px;
}
.form-control::-moz-placeholder {
  color: #999;
  font-size: 13px;
}
.form-control:-ms-input-placeholder {
  color: #999;
  font-size: 13px;
}
.form-control:-moz-placeholder {
  color: #999;
  font-size: 13px;
}

textarea.form-control {
  padding-top: 11px;
  padding-bottom: 11px;
}

#campaign_description {
  resize: none;
}
