ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: linear-gradient(
    90deg,
    rgba(104, 144, 203, 1) 0%,
    rgba(113, 164, 219, 1) 0%,
    rgba(177, 217, 224, 1) 0%,
    rgba(196, 219, 255, 1) 100%
  );
}

.login:hover {
  background-color: #111;
  color: white;
}

li {
  float: left;
  margin: 10px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
  background-color: #b1d9e0;
}

.nav__button {
  margin: 10px;
  color: #b1d9e0;
  background: #4873b5;
  height: 54px;
  padding: 10px 10px;
  border: 1px solid #b1d9e0;
  border-radius: 30px;
}

.nav__button:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
  background: #b1d9e0;
  color: #4873b5;
}

.nav__image {
  width: 50%;
  height: 50%;
  margin: 10px;
  border-radius: 50px;
}

.nav__image:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
}
