@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --lightgreen: #b2e0b2;
    --darkgreen: #5c915c;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea {
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: var(--lightgreen);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    /* max-width: 820px; */
    max-width: 900px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contactForm {
    background-color: var(--darkgreen);
    position: relative;
}

form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title {
    color: var(--white);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.inputContainer {
    position: relative;
    margin: 2rem 0;
}

.input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    color: var(--white);
    outline: none;
    padding: 0.6rem 0.5rem;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}

textarea.input {
    padding: 0.8rem 0.5rem;
    min-height: 150px;
    resize: none;
    overflow-y: auto;
}

::placeholder {
    color: var(--white);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--white);
}

::-ms-input-placeholder {
    color: var(--white);
}

textarea::placeholder {
    color: var(--white);
    opacity: 1;
}

textarea:-ms-input-placeholder {
    color: var(--white);
}

textarea::-ms-input-placeholder {
    color: var(--white);
}

.btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: var(--darkgreen);
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px 0 0;
}

.btn:hover {
    background-color: transparent;
    color: var(--white);
}

.contactInfo {
    padding: 2.3rem 2.2rem;
    position: relative;
}

.contactInfo .title {
    color: var(--darkgreen);
}

.text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
}

.information {
    display: flex;
    flex-direction: column;
    color: #555;
    margin: 0.7rem 0;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 0.9rem;
}

.information > h2 {
    color: var(--darkgreen);
    font-size: 1rem;
}

.information a {
    text-decoration: none;
}

.information a:hover {
    text-decoration: underline;
}

.icon {
    width: 28px;
    margin-right: 0.7rem;
}

.socialMedia {
    padding: 2rem 0 0 0;
}

.socialMedia p {
    color: #333;
}

.socialIcons {
    display: flex;
    margin-top: 0.5rem;
}

.socialIcons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #c0c0c0, var(--darkgreen));
    color: var(--white);
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.socialIcons a:hover {
    transform: scale(1.05);
    color: var(--white);
}

@media (max-width: 850px) {
    .form {
        grid-template-columns: 1fr;
    }

    .contactInfo:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }

    .contactForm:before {
        top: -13px;
        left: initial;
        right: 70px;
    }

    .text {
        margin: 1rem 0 1.5rem 0;
    }

    .socialMedia {
        padding: 1.5rem 0 0 0;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1.5rem;
    }

    .contactInfo:before {
        display: none;
    }

    form,
    .contactInfo {
        padding: 1.7rem 1.6rem;
    }

    .text,
    .information,
    .socialMedia p {
        font-size: 0.8rem;
    }

    .title {
        font-size: 1.15rem;
    }

    .socialIcons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .icon {
        width: 23px;
    }

    .input {
        padding: 0.45rem 1.2rem;
    }

    .btn {
        padding: 0.45rem 1.2rem;
    }
}
