ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c2e878;
  }
  
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    color: white;
  }
  
  body{
    margin:0 auto;
  }
  
  #projectbtn{
    position:relative;
  }
  
  #header{
    display:flex;
    align-items:center;
  }
  
  #list{
    justify-content: space-around;
  }
  
  li {
    float: left;
  }
  
  
  *{
    box-sizing: border-box;
  }
  
  div.pagination{
    bottom: 3rem;
    left: 5rem;
    position: fixed;
    background-color:#404040;
    color:white
  }