
  .yourportaltext h1
  {
    font-size: 80px;
    color: rgb(122, 122, 122);
    margin-top: 100px;
    margin-left: 75px;
    text-align: left;
    
  }
  
  .yourportaltext h2
  {
    color: rgb(122, 122, 122);
    margin-top: 25px;
    margin-left: 85px;
    text-align: left;
  }
  
    
    .portalBox 
    {
      background: white;
      padding: 20px;
      /*border: 30px ridge #B2AC88;*/
      margin-left:75px;
      margin-bottom:50px;
      height: 700px;
      width: 1000px;
      text-align: left;
    }
  
    .buttonGroup
    {
      float:left;
      border-radius: 25px;
      font-size: 20px;
      text-align: left;
      color: white;
      margin-left:100px;
      position:relative;
      top:-700px;
    }
  
    .buttonGroup button:hover 
    {
      background-color:lightgreen;
      cursor:pointer;
      border:5px black;
    }
  
  
  .leaderboardList
  {
    font-family: timesnewroman;
    line-height:2;
    padding-left:50px;
  }
  
  .leaderboard
  {
    background:white;
    position:relative;
    height:400px;
    width:300px;
    margin-left:1000px;
    border: 10px ridge darkgrey;
    top:-419px;
  
  }
  
  .leaderboard h4
  {
    padding-left:60px;
    font-size:20px;
  }
  
  .statsBox
  {
    background:white;
    height:400px;
    width:800px;
    margin-left:100px;
    border:ridge darkgrey 10px;
    margin-top:100px;
  }
  
  .totalDonation, .peopleReached, .familiesImpacted, .placesTraveled
  {
    position:relative;
    padding-left:50px;
    margin-top:40px;
    font-size: 30px;
  }