.container {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.wrapper {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  margin: auto;
}

.contain {
  overflow-x: hidden;
  background: #03c2fc;
}

/* Steps section */

.steps__title {
  font-size: 3rem;
  margin-bottom: 1.5em;
}

.arrow-container {
  position: relative;
  min-height: 500px;
}

.steps-container {
  width: 300px;
  position: absolute;
}

.steps-container > h2 {
  font-size: 2rem;
  width: fit-content;
}

.steps-container > p {
  font-size: 1rem;
  width: fit-content;
}

.step--one {
  top: 0;
  left: 0;
}

.step--two {
  bottom: 20%;
  left: 16%;
}

.step--three {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.step--four {
  bottom: 10%;
  right: 25%;
}

.step--five {
  top: 0;
  right: 0;
}
