div.pagination{
    bottom: 3rem;
    left: 5rem;
    position: fixed;
    z-index: 8;
  }

  
  *{
    box-sizing: border-box;
  }

  div.pagination::after{
    background-color: rgba(59,58,57,.8);
    border-radius: 1.8rem;
    content: "";
    height: 3.6rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all .2s ease;
    width: 3.6rem;
}

div.outerWrapper{
  padding:0 1rem;
 position:relative;
 transition:all .1s ease-in-out;
 will-change:transform,opacity;
 z-index: 2;
}


div.innerWrapper{
  
}

select.wrapper{
  -webkit-appearance:menulist-button;
  cursor:pointer;
  height:100%;
  left:0;
  opacity:0;
  position:absolute;
  top:0;
  width:100%;
}

option{
  
}