.body {
  background: lightblue;
}

.portalBox {
  background: white;
  color: black;
  font-family: helvetica;
  font-size: 12px;
  padding: 20px;
  border: 10px ridge #b2ac88;
  margin: 200px;
  margin-top: 75px;
  height: 300px;
  position: relative;
}

.div h1 {
  background: #466d1d;
  width: 400px;
  font-size: 20px;
  text-align: center;
  color: white;
  border: 10px ridge royalblue;
  padding: 15px;
  margin-left: 10px;
  margin-top: 20px;
}

.a {
  color: white;
  font-style: none;
  text-decoration: none;
}

.div h2 {
  margin-left: 260px;
  margin-top: 75px;
  font-size: 96px;
  color: darkgrey;
}
.div h1:hover {
  background-color: grey;
  cursor: pointer;
}
